# Idea folder
.idea/

# Virtual environment
venv/

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Python bytecode
__pycache__/
*.py[cod]

# System files
.DS_Store

# Ignore raw EEG data, except specific files
data/raw/eeg/*
!data/raw/eeg/participants.json
!data/raw/eeg/participants.tsv

# Ignore eeg_csv data
data/eeg_csv/
